{% extends 'base.html' %}

{% block content %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3">
  <h2>Category List</h2>
  <div class="btn-group mr-2">
    <a href="{% url 'category_new' %}" class="btn btn-sm btn-outline-primary"><span data-feather="plus"></span>Add
      Category</a>
  </div>
</div>

<div class="py-4 px-3 px-md-4">
  {% if object_list %}
  <div class="table-responsive">
    <table class="table table-striped table-sm">
      <thead>
      <tr>
        <th>Name</th>
      </tr>
      </thead>
      <tfoot>
      <tr>
        <th>Name</th>
      </tr>
      </tfoot>
      <tbody>
      {% for category in object_list %}
      <tr>
        <td><a href="{% url 'category_update' category.id %}">{{ category.name }}</a></td>
      </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
  {% else %}
  <p>No payment are available.</p>
  {% endif %}
</div>
{% endblock %}