{% extends 'base.html' %}

{% block content %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3">
  <h2>PLan List</h2>
  <div class="btn-group mr-2">
    <a href="{% url 'plan_new' %}" class="btn btn-sm btn-outline-primary"><span data-feather="plus"></span>Add
      plan</a>
  </div>
</div>

<div class="py-4 px-3 px-md-4">
  {% if object_list %}
  <div class="table-responsive">
    <table class="table table-striped table-sm">
      <thead>
      <tr>
        <th>month_day</th>
        <th>quantity</th>
        <th>category</th>
        <th>description</th>
        <th>active</th>
      </tr>
      </thead>
      <tfoot>
      <tr>
        <th>month_day</th>
        <th>quantity</th>
        <th>category</th>
        <th>description</th>
        <th>active</th>
      </tr>
      </tfoot>
      <tbody>
      {% for item in object_list %}
      <tr>
        <td>{{ item.month_day }}</td>
        <td><a href="{% url 'category_update' item.id %}">{{ item.quantity }}</a></td>
        <td>{{ item.category }}</td>
        <td>{{ item.description}}</td>
        <td>{{ item.get_active_display}}</td>
      </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
  {% else %}
  <p>No payment are available.</p>
  {% endif %}
</div>
{% endblock %}