.list-group-head {
    font-weight: bold;
}

.list-group-footer {
    font-weight: bold;
}

/* category list items */
.category-name {
    width: 40%;
    padding: 2px;
    display: inline-block;
}

@media (min-width: 1200px) {
    .category-name {
        width: 52%;
    }
}

.transaction-number {
    display: none;
}

@media (min-width: 1200px) {
    .transaction-number {
        width: 20%;
        display: inline-block;
        padding: 2px;
    }
}

.transaction-amount {
    width: 28%;
    padding: 2px;
    display: inline-block;
}

@media (min-width: 1200px) {
    .transaction-amount {
        width: 14%;
    }
}

.amount-percent {
    width: 28%;
    padding: 2px;
    display: inline-block;
}

@media (min-width: 1200px) {
    .amount-percent {
        width: 11%;
    }
}

.euro-symbol {
    padding-left: 3px;
}

.percent-symbol {
    padding-left: 3px;
}