{% extends 'base.html' %}

{% block content %}
<div class="content">

  <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
    <h1 class="h2">Dashboard</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
      <div class="btn-group mr-2">
        <a class="btn btn-sm btn-outline-secondary" href="{% url 'home' %}?month={{past_month.link}}">
          {{past_month.label}}</a>
        <a class="btn btn-sm btn-outline-secondary" href="{% url 'home' %}?month={{current_month.link}}">
          {{current_month.label }}</a>
      </div>
      <button class="btn btn-sm btn-outline-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span data-feather="calendar"></span>
        Month
      </button>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="#">Month</a>
        <a class="dropdown-item" href="#">Week</a>
        <a class="dropdown-item" href="#">Day</a>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-6 col-xl-4 mb-3 mb-lg-4">
      <!-- Card -->
      <div class="card flex-row align-items-center p-3 p-md-4">
        <div>
          <h4 class="lh-1 mb-1">{{ total_amount.value }}</h4>
          <small>Total amount</small>
        </div>
        <div
            class="d-flex ml-auto align-items-center {% if total_amount.percent <= 100 %}text-success{% else %}text-danger{% endif %}">
          <span class="mr-1">{{ total_amount.percent }}%</span>
          <i class="nova-arrow-down icon-text icon-text-xs"></i>
        </div>
      </div>
      <!-- End Card -->
      <!-- Card -->
      <div>
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center mt-3">
          <h3>Amount by category</h3>
        </div>
        {% if sum_amount_categories %}
        <div class="table-responsive">
          <table class="table table-striped table-sm">
            <thead>
            <tr>
              <th>Category Name</th>
              <th>Amount</th>
            </tr>
            </thead>
            <tfoot>
            <tr>
              <th>Category Name</th>
              <th>Amount</th>
            </tr>
            </tfoot>
            <tbody>
            {% for amount_categories in sum_amount_categories %}
            <tr>
              <td>{{ amount_categories.category__name }}</td>
              <td>{{ amount_categories.quantity__sum }}</td>
            </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
        {% else %}
        <p>No payment are available.</p>
        {% endif %}
      </div>
      <!-- End Card -->

      <!-- Card -->
      <div>
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center mt-3">
          <h3>Fixed transaction details</h3>
        </div>

        <div class="p-3 p-md-4">
          <h4 class="lh-1 mb-1">{{ fxd_total_amount }}</h4>
          <small>Total amount</small>
        </div>

        {% if fdx_month_transaction %}
        <div class="table-responsive">
          <table class="table table-striped table-sm">
            <thead>
            <tr>
              <th>Real Date</th>
              <th>Quantity</th>
              <th>Category</th>
              <th>Sub category</th>
            </tr>
            </thead>
            <tfoot>
            <tr>
              <th>Real Date</th>
              <th>Quantity</th>
              <th>Category</th>
              <th>Sub category</th>
            </tr>
            </tfoot>
            <tbody>
            {% for var_transaction in fdx_month_transaction %}
            <tr>
              <td>{{ var_transaction.real|date:'d M Y' }}</td>
              <td>{{ var_transaction.quantity }}</td>
              <td>{{ var_transaction.category }}</td>
              <td>{{ var_transaction.sub_category }}</td>
            </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
        {% else %}
        <p>No payment are available.</p>
        {% endif %}

      </div>
      <!-- End Card -->

    </div>

    <div class="col-lg-6 col-xl-8 mb-3 mb-lg-4">
      <!-- Card -->
      <div>
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3">
          <h3>Variable transaction details</h3>
          <div class="btn-group mr-2">
            <a href="{% url 'transaction_new' %}" class="btn btn-sm btn-outline-primary"><span
                data-feather="plus"></span>Add
              Transaction</a>
            <button class="btn btn-sm btn-outline-secondary">Export</button>
          </div>
        </div>

        {% if var_month_transaction %}
        <div class="table-responsive">
          <table class="table table-striped table-sm">
            <thead>
            <tr>
              <th>Real Date</th>
              <th>Quantity</th>
              <th>Category</th>
              <th>Sub category</th>
              <th>Description</th>
            </tr>
            </thead>
            <tfoot>
            <tr>
              <th>Real Date</th>
              <th>Quantity</th>
              <th>Category</th>
              <th>Sub category</th>
              <th>Description</th>
            </tr>
            </tfoot>
            <tbody>
            {% for var_transaction in var_month_transaction %}
            <tr>
              <td>{{ var_transaction.real|date:'d M Y' }}</td>
              <td>{{ var_transaction.quantity }}</td>
              <td>{{ var_transaction.category }}</td>
              <td>{{ var_transaction.sub_category }}</td>
              <td>{{ var_transaction.description }}</td>
            </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
        {% else %}
        <p>No payment are available.</p>
        {% endif %}

      </div>
      <!-- End Card -->
    </div>

  </div>

</div>
{% endblock %}