{% extends "two_column_base.html" %}

{% block title %}Expenses | Index{% endblock %}

{% block main-content %}
    <h1>Index</h1>
    <hr>

    <div id="app">
        [[message]]

        <ul class="list-group list-group-flush">
            <li class="list-group-item list-group-head">
                <div class="category-name">
                    Category
                </div>
                <div class="transaction-number">
                    Transactions N.
                </div>
                <div class="transaction-amount">
                    Amount.
                </div>
                <div class="amount-percent">
                    Percent.
                </div>
            </li>
            <li v-for="category in categories" class="list-group-item ">
                <category-name v-bind:name="category.category__name"></category-name>
                <transaction-number v-bind:number="category.transaction_count"></transaction-number>
                <transaction-amount v-bind:amount="category.quantity__sum"></transaction-amount>
                <amount-percent
                        v-bind:amount="category.quantity__sum"
                        v-bind:total_amount="total.quantity__sum">
                </amount-percent>
            </li>
            <li class="list-group-item list-group-footer">
                <div class="category-name ">
                    Total
                </div>
                <transaction-number v-bind:number="total.transaction_count"></transaction-number>
                <transaction-amount v-bind:amount="total.quantity__sum"></transaction-amount>
                <amount-percent
                        v-bind:amount="total.quantity__sum"
                        v-bind:total_amount="total.quantity__sum">
                </amount-percent>
            </li>
        </ul>
    </div>

{% endblock %}

{% block scripts %}
    <script type='text/javascript'>
        {# Load json data from view #}
        let categories = {{ summary|safe }};
        let total = {{ total|safe }};
        {# defining Vue components #}
        let CategoryName = {
            delimiters: ['[[', ']]'],
            props: ['name'],
            template: '<div class="category-name">[[ name ]]</div>'
        };
        let TransactionNumber = {
            delimiters: ['[[', ']]'],
            props: ['number'],
            template: '<div class="transaction-number">[[ number ]]</div>'
        };
        let TransactionAmount = {
            delimiters: ['[[', ']]'],
            props: ['amount'],
            template: '<div class="transaction-amount">[[ amount.toFixed(2) ]]<span class="euro-symbol">€</span></div>'
        };
        let AmountPercent = {
            delimiters: ['[[', ']]'],
            props: ['amount', 'total_amount'],
            template: '<div class="amount-percent">[[ percent ]]<span class="percent-symbol">%</span></div>',
            computed: {
                percent: function () {
                    let value = (this.amount * 100) / this.total_amount;
                    return value.toFixed(2);
                }
            }
        }
        {# Vue instance #}
        let app = new Vue({
            delimiters: ['[[', ']]'],
            el: '#app',
            components: {
                'category-name': CategoryName,
                'transaction-number': TransactionNumber,
                'transaction-amount': TransactionAmount,
                'amount-percent': AmountPercent,
            },
            data: {
                message: 'Summary',
                categories: categories,
                total: total,
            },
        });
    </script>
{% endblock %}