{% extends 'base.html' %}

{% block content %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
  <h1 class="h2">Dashboard</h1>
  <div class="btn-toolbar mb-2 mb-md-0">
    <div class="btn-group mr-2">
      <button class="btn btn-sm btn-outline-secondary">Share</button>
      <button class="btn btn-sm btn-outline-secondary">{{ month }}</button>
    </div>
    <button class="btn btn-sm btn-outline-secondary dropdown-toggle" type="button" id="dropdownMenuButton"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <span data-feather="calendar"></span>
      Month
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <a class="dropdown-item" href="#">Month</a>
      <a class="dropdown-item" href="#">Week</a>
      <a class="dropdown-item" href="#">Day</a>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-6 col-xl-4 mb-3 mb-md-4 mb-xl-5">
    <!-- Card -->
    <div class="card flex-row align-items-center p-3 p-md-4">
      <div>
        <h4 class="lh-1 mb-1">{{ total_amount }}</h4>
        <small>Total amount</small>
      </div>
      <div class="d-flex ml-auto align-items-center text-danger">
        <span class="mr-1">-3,91%</span>
        <i class="nova-arrow-down icon-text icon-text-xs"></i>
      </div>
    </div>
    <!-- End Card -->
  </div>

  <div class="col-md-6 col-xl-4 mb-3 mb-md-4 mb-xl-5">
    <!-- Card -->
    <div class="card flex-row align-items-center p-3 p-md-4">
      <div>
        <h4 class="lh-1 mb-1">4,423</h4>
        <small>Confirmed Tokens</small>
      </div>
      <div class="d-flex ml-auto align-items-center text-danger">
        <span class="mr-1">-4.13%</span>
        <i class="nova-arrow-down icon-text icon-text-xs"></i>
      </div>
    </div>
    <!-- End Card -->
  </div>

  <div class="col-md-6 col-xl-4 mb-3 mb-md-4 mb-xl-5">
    <!-- Card -->
    <div class="card flex-row align-items-center p-3 p-md-4">
      <div>
        <h4 class="lh-1 mb-1">5,743</h4>
        <small>Total Purchased</small>
      </div>
      <div class="d-flex ml-auto align-items-center text-success">
        <span class="mr-1">+3.91%</span>
        <i class="nova-arrow-up icon-text icon-text-xs"></i>
      </div>
    </div>
  </div>
</div>
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3">
  <h2>Month transaction details</h2>
  <div class="btn-group mr-2">
    <a href="{% url 'transaction_new' %}" class="btn btn-sm btn-outline-primary"><span data-feather="plus"></span>Add
      Transaction</a>
    <button class="btn btn-sm btn-outline-secondary">Export</button>
  </div>
</div>

{% if month_transaction %}
<div class="table-responsive">
  <table class="table table-striped table-sm">
    <thead>
    <tr>
      <th>Quantity</th>
      <th>Category</th>
      <th>Sub category</th>
      <th>Description</th>
      <th>Real Date</th>
      <th>Updated at</th>
    </tr>
    </thead>
    <tfoot>
    <tr>
      <th>Quantity</th>
      <th>Category</th>
      <th>Sub category</th>
      <th>Description</th>
      <th>Real Date</th>
      <th>Updated at</th>
    </tr>
    </tfoot>
    <tbody>
    {% for transaction in month_transaction %}
    <tr>
      <td>{{ transaction.quantity }}</td>
      <td>{{ transaction.category }}</td>
      <td>{{ transaction.sub_category }}</td>
      <td>{{ transaction.description }}</td>
      <td>{{ transaction.real|date:'d M Y' }}</td>
      <td>{{ transaction.updated|date:'d M Y' }}</td>
    </tr>
    {% endfor %}
    </tbody>
  </table>
</div>
{% else %}
<p>No payment are available.</p>
{% endif %}
{% endblock %}
