{% extends 'base.html' %}
{% load widget_tweaks %}

{% block content %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
  <h2>Add transaction</h2>
  <div class="btn-group mr-2">
    <button class="btn btn-sm btn-outline-primary"><span data-feather="plus"></span>Transaction details</button>
    <button class="btn btn-sm btn-outline-secondary">Cancel</button>
  </div>
</div>

<div class="row">
  <div class="col-md-9 col-xl-6 mb-3 mb-md-4 mb-xl-5">
    <!-- Card -->
    <div class="flex-row align-items-center p-3 p-md-4">
      <form method="POST" class="post-form">
        {% csrf_token %}

        {% for hidden_field in form.hidden_fields %}
          {{ hidden_field }}
        {% endfor %}

        {% if form.non_field_errors %}
          <div class="alert alert-danger" role="alert">
            {% for error in form.non_field_errors %}
              {{ error }}
            {% endfor %}
          </div>
        {% endif %}

        {% for field in form.visible_fields %}
          <div class="form-group">
            {{ field.label_tag }}

            {% if form.is_bound %}
              {% if field.errors %}
                {% render_field field class="form-control is-invalid" %}
                {% for error in field.errors %}
                  <div class="invalid-feedback">
                    {{ error }}
                  </div>
                {% endfor %}
              {% else %}
                {% render_field field class="form-control is-valid" %}
              {% endif %}
            {% else %}
              {% render_field field class="form-control" %}
            {% endif %}

            {% if field.help_text %}
              <small class="form-text text-muted">{{ field.help_text }}</small>
            {% endif %}
          </div>
        {% endfor %}

        <button type="submit" class="btn btn-outline-primary">Submit</button>

      </form>
    </div>
    <!-- End Card -->
  </div>

  <div class="col-md-3 col-xl-3 mb-3 mb-md-4 mb-xl-5">
    <!-- Card -->
    <div class="card flex-row align-items-center p-3 p-md-4">
      <div>
        <h4 class="lh-1 mb-1">4,423</h4>
        <small>Confirmed Tokens</small>
      </div>
      <div class="d-flex ml-auto align-items-center text-danger">
        <span class="mr-1">-4.13%</span>
        <i class="nova-arrow-down icon-text icon-text-xs"></i>
      </div>
    </div>
    <!-- End Card -->
  </div>

  <div class="col-md-3 col-xl-3 mb-3 mb-md-4 mb-xl-5">
    <!-- Card -->
    <div class="card flex-row align-items-center p-3 p-md-4">
      <div>
        <h4 class="lh-1 mb-1">5,743</h4>
        <small>Total Purchased</small>
      </div>
      <div class="d-flex ml-auto align-items-center text-success">
        <span class="mr-1">+3.91%</span>
        <i class="nova-arrow-up icon-text icon-text-xs"></i>
      </div>
    </div>
  </div>
</div>

{% endblock %}